# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/warface/v16/.suo
.vs/warface/v16/Browse.VC.db
.vs/warface/v16/Browse.VC.db-shm
.vs/warface/v16/Browse.VC.db-wal
.vs/warface/v16/ipch/67f64eb3c6e362ac.ipch
.vs/warface/v16/ipch/79957e84195d51d4.ipch
.vs/warface/v16/ipch/9dc050b711ed0a75.ipch
.vs/warface/v16/ipch/AutoPCH/23f61db57a986e86/MENU.ipch
.vs/warface/v16/ipch/AutoPCH/3a8f28963502e51e/IMGUI_IMPL_DX9.ipch
.vs/warface/v16/ipch/AutoPCH/3b99549ba1f6595/IMGUI.ipch
.vs/warface/v16/ipch/AutoPCH/5c9b7e2a9312df2b/IMGUI.ipch
.vs/warface/v16/ipch/AutoPCH/6996503700b6a1a6/DLLMAIN.ipch
.vs/warface/v16/ipch/AutoPCH/71b5df690fdf0a6c/DLLMAIN.ipch
.vs/warface/v16/ipch/AutoPCH/7af604c6707126ae/IMGUI_IMPL_WIN32.ipch
.vs/warface/v16/ipch/AutoPCH/7cd63d4a59d2e700/IMGUI_DRAW.ipch
.vs/warface/v16/ipch/AutoPCH/835f608bd447b50f/IMGUI_DEMO.ipch
.vs/warface/v16/ipch/AutoPCH/9c7657161e84b20f/IMGUI_WIDGETS.ipch
.vs/warface/v16/ipch/AutoPCH/9ed33103188b39dd/IMGUI_DEMO.ipch
.vs/warface/v16/ipch/AutoPCH/af73af215a08ced/IMGUI.ipch
.vs/warface/v16/ipch/AutoPCH/bdcbcc76eccfb6b1/FUNCTIONS.ipch
.vs/warface/v16/ipch/AutoPCH/daed1e23f803c63b/MENU.ipch
.vs/warface/v16/ipch/AutoPCH/dccf0714a94d391a/DLLMAIN.ipch
.vs/warface/v16/ipch/AutoPCH/e1ab9186d3b31c37/IMGUI_WIDGETS.ipch
.vs/warface/v16/ipch/AutoPCH/ecfbdded72988f33/FUNCTIONS.ipch
.vs/warface/v16/ipch/AutoPCH/fe64d8965227c0b4/DLLMAIN.ipch
